.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.box {
    border: 1px solid #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}